*{
    font-family: "Georgia", monospace !important;
}

body{
    background: #EEEEEE;
}

a{
    text-decoration: none;
}

nav{
    margin-bottom: 35px;
}

.logo svg{
    margin-right: 15px;
}

.content h1{
    font-weight: bold;
    margin-top: 25px;
    font-size: 65px;
}

h2{
    font-weight: bold;
}
.card{
    margin-bottom: 10px;
}
.card-body{
    position: relative;
}

.buttons{
    position: absolute;
    top: 10px;
    right: 10px;
}

.button{
    background: none;
    border:1px solid #000000;
    transition: all .5s;
}

.button:hover{
    background: #000000;
    color: #EEEEEE;
}

.add-btn{
    margin-bottom: 15px;
}
